:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    /* 设置全局的盒模型，所有元素都继承这个盒模型 */
    box-sizing: inherit;
}

body {
    background-color: #eee;
    font-family:  Helvetica, Arial, sans-serif;
}

header  {
    background-color: #0072b0;
    color: #fff;
    border-radius: .5em;
}

.container {
    display: flex;
}

.main {
    width: 70%;
    background-color: #fff;
    border-radius: .5em;
}

.sidebar {
    width: 30%;
    margin-left: 1.5em;
    padding: 1.5em;
    background-color: #fff;
    border-radius: .5em;
}