*,
::before,
::after {
    /* 设置全局的盒模型，所有元素都继承这个盒模型 */
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family:  Helvetica, Arial, sans-serif;
}

header  {
    background-color: #0072b0;
    color: #fff;
    border-radius: .5em;
}

main {
    display: block;
}

.main {
    /* box-sizing: border-box; */
    float: left;
    width: 70%;
    background-color: #fff;
    border-radius: .5em;
}

.sidebar {
    /* 使用border-box会压缩内容，而不是增加width */
    /* 如果设置了全局的，会继承，不需要单独设置 */
    /* box-sizing: border-box; */
    float: left;
    /* 不能总是依靠计算值去消除换行 */
    /* width: calc(30% - 3em); */
    width: calc(30% - 1.5em);
    margin-left: 1.5em;
    padding: 1.5em;
    background-color: #fff;
    border-radius: .5em;
}